#book-title {
    font-style: italic;
    width: 40%;
    background: linear-gradient(to top, #71ff7d 50%, transparent 50%);
    user-select: none;
}

.book-content {
    white-space: pre-wrap;
}

table {
    border: 1px solid black;
}

th {
    background-color: bisque;
    padding: 10px;
}

td {
    min-width: 200px;
}

button {
    border: 2px solid black;
    border-radius: 8px;
    font-style: bold;
    width: 65px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 6px;
    cursor: pointer;
}

button:hover {
    color: gray;
}